#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#comment-list {
  list-style-type: none;
}

.comment {
  border: thin solid grey;
  display: block;
  margin: 10px;
  padding: 5px;
  width: 300px;
}